li{
  display: inline;
}

ul{
  text-align: right;
}

header{
  background-image: url(http://www.placecage.com/1000/3000);
}

#hero{
  background-color: yellow;
}

#hero > *{
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

article{
  display: inline-block;
  width: 30%;
  background-color: pink;
  border-radius: 5%;
  margin-right: 1%;
  margin-bottom: 1%;
}

#posts{
  width: 80%;
  margin: 0 auto;
}
